*, *::before, *::after {
 box-sizing: boder-box;
 font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: cen

}