*, *::before, *::after {
 box-sizing: boder-box;
 font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #9900ff;
}

.container{
    width: 800px;
    max-width: 80%;
    padding: 10px;
    background-color: #F9F6F5;
    border-radius: 10px solid;
    align-items: center;
    border: none;
    box-shadow: 0 0 8px 2px;
}